
.content {
    margin-top: 200px;
}

.title {
    font-size: 36px;
}
.main {
    top:100px;
    padding-left: 300px;
    position: fixed;
}

.output {
    position:absolute;
    height:300px;
    width:200px;
    margin-left:350px;
}

.c2a {
    font-family:sans-serif;
    text-align: center;
    font-size: 48px;
}
.input{
    position:absolute;
    margin-left:30%;
    height:300px;
    width:200px;

}
@media only screen and (min-width:1300px){
    .input{
        margin-left:31%;
    }
    .output{
         margin-left:360px;
    }
}
