body,html{
    margin:0;
    padding: 0;
}
.content {
    margin-top: 200px;
}

.title {
    font-size: 36px;
}
.main {
    top:100px;
    padding-left: 300px;
    position: fixed;
}

.output {
    margin-top:20vh;
    position:absolute;
    height:200px;
    width:400px;
    margin-left:30vw;
}

.c2a {
    font-family:sans-serif;
    text-align: center;
    font-size: 48px;
}
.input{
    margin-top:20vh;
    position:absolute;
    margin-left:-0;
    height:200px;
    width:400px;

}
#description{
    font-family: sans-serif;
    color:#505050;
    font-weight:1.3;
    text-align:center;
}
@media only screen and (min-width:1000px){
    .input{
        margin-left:-25vw;
    }
    .output{
        margin-left:22vw;
    }
}
@media only screen and (min-width:1100px){
    .input{
        margin-left:-15vw;
    }
    .output{
        margin-left:25vw;
    }
}
@media only screen and (min-width:1200px){
    .input{
        margin-left:-8vw;
    }
    .output{
        margin-left:26vw;
    }
}
@media only screen and (min-width:1400px){
    .input{
        margin-left:2vw;
    }
    .output{
        margin-left:32vw;
    }
}
@media only screen and (min-width:1700px){
    .input{
        margin-left:10vw;

    }
    .output{
        margin-left:35vw;
    }
}
.header1{
    position:absolute;
    top:0;
    background:#DCDCDC;
    width:100%;
    border-bottom:2.8px solid #808080;
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #DCDCDC;
    border-top: 2.8px solid #808080;
    padding-top:8px;
}
#text{
    color: #505050;
    font-family:sans-serif;
    font-weight: 1.5;
    font-size:16px;
    text-align: center;
}
#link-none{
    color: #505050;
    text-decoration: none;
}
#link-none:hover{
    text-decoration: underline;
}
